# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore Makefiles
!Makefile

# Ignore debug and target directories
debug/
target/

# Ignore environment files
.env

# Ignore class files
*.class

# Ignore simple text files
*.txt

# Ignore jar files
*.jar

# Ignote .sum files
*.sum
